    @charset "UTF-8";

    /*comandos para configurar paragrafo*/
    p {
    text-align : justify;
    text-indent : 50px;
    }

   /*comandos para configurar o corpo principal da página*/
   body {
     background-color : rgb(159, 202, 209);	
     color: black;	
     }

   
     /*comandos para configurar o FIGURE*/

    /*como foi comentado na página do index, para configurar uma imagem especifica, basta escrever o comando FIGURE seguido de ponto e o nome da CLASS que foi dada no index. Nesse caso FOTOLEG*/

figure.FotoLeg{
  border: 3px solid white;
  box-shadow: 1px 3px 4px black;
}
figure.FotoLeg img{
  width: 100%;
  height: 100%;
}
