    @charset "UTF-8";

    /*comandos para configurar paragrafo*/
    p {
    text-align : justify;
    text-indent : 50px;
    }

   /*comandos para configurar o corpo principal da página*/
   body {
     background-color : rgb(159, 202, 209);	
     color: rgb(85, 81, 81);	
     }

   
     /*comandos para configurar o FIGURE*/

    /*como foi comentado na página do index, para configurar uma imagem especifica, basta escrever o comando FIGURE seguido de ponto e o nome da CLASS que foi dada no index. Nesse caso FOTOLEG*/

    /*Agora temos o conceito de CONTAINER. Nesse caso a tag FIGCAPTION é um container ou seja, um filho da tag FIGURE, pois ela está dentro das tags FIGURE no index.*/

    /*Para configurar a posição de um container, ele deve ser absoluto em comparação com seu pai (FIGURE) e seu pai deve ser relativo(quer dizer que vai fixar aonde foi colocado inicialmente.)*/

figure.fotoleg {
  position: relative;
  border: 8px solid white;
  box-shadow: 1px 3px 4px black;  /*coloca uma borda na imagem*/

}
figure.fotoleg img{
  width: 100%;
  height: 100%;
}

figure.fotoleg figcaption {
  position: absolute;
  opacity: 0;
  top: 0px;
  background-color: rgba(0, 0, 0, .4);
  color: white;
  width: 100%;
  height: 100%;
  padding: 10px;
  box-sizing: border-box;
  transition: opacity 1s;
}

/*o comando abaixo hover , serve para indicar uma ação a ser feita quando o mouse passar em cima da imagem referenciada na class fotoleg*/

figure.fotoleg:hover figcaption{
  opacity: 1;
}
/*comandos para configurar o menu, através do identificador id estabelecido no nav "menu"*/

/*transformando o container nav id menu em bloco para poder mexer com sua localização*/
nav#menu{
  display: block;
}  
/*para configurar os marcadores da  lista(ol)*/
  nav#menu ol{
    list-style: none;
    text-transform: uppercase;
  /*para configurar a posição do menu que foi transformado em bloco. Os itens da lista acompanham o container */ 
    position: absolute;
    top: -20px;
    right: 0px;
    
  }
  /*para configurar os itens da lista ol em horizontal*/
  nav#menu li{
    display: inline-block;
  /*para configurar uma borda cinza em volta dos itens da lista*/
    background-color: rgb(141, 138, 138);
    padding: 10px;  
    margin: 2px;  
    transition: 1s;
  }
  
  /*Para criar o efeito de passar o mouse e trocar a cor nos itens (li=ListItens) do menu*/
  nav#menu li:hover{
    background-color: rgb(219, 224, 224);
  }
  /*Para esconder o nome MenuPrinciapal que está dentro do container nav*/
  nav#menu h1{
    display: none;
  }
  /*Para configurar os links dentro da tag a (anchor ou ancora)*/
  nav#menu a{
    color: black;
    text-decoration: none;
  }
  nav#menu a:hover{
    color: rgb(250, 246, 246);
    text-decoration: underline;
  }