    @charset "UTF-8";

    /*comandos para configurar paragrafo*/
    p {
    text-align : justify;
    text-indent : 50px;
    }

   /*comandos para configurar o corpo principal da página*/
   body {
     background-color : rgb(159, 202, 209);	
     color: black;	
     }

    /*comandos para configurar o FIGURE*/

    /*como foi comentado na página do index, para configurar uma imagem expecifica, basta escrever o comando FIGURE seguido de CLASS e depois o nome que foi dado no index. Nesse caso FOTOLEG*/

    